<html>
	<head>
		<script type="text/javascript" src="static/js/libs/threejs/build/three.min.js"></script>
		<script type="text/javascript" src="static/js/libs/dat.gui/dat.gui.min.js"></script>
		<script type="text/javascript" src="static/js/libs/tomo_raycaster2/build/volumeRaycaster.js"></script>
		<script type="text/javascript" src="static/js/OrbitControls.js"></script>
		<script type="text/javascript" src="static/js/dat.gui.helper.js"></script>

	</head>

	<body>
		<script type="text/javascript">
			window.onload = function()
			{
		        console.log({{ slicemap_obj.rows }}, {{ slicemap_obj.cols }}, {{ slicemap_obj.width }}, {{ slicemap_obj.height }});
				
				var config = {
					"dom_container_id": "container",
					// "slices_range": [0, 1384],
					// "gray_min": 0.403,
					// "gray_max": 0.6,
					// "row_col": [9, 9],
					// "steps": 100,
		            "renderer_size": [512, 512],
					"auto_steps": true,
				};

				rcl2 = new VRC.VolumeRaycaster(config);

				rcl2.uploadConfig("{{ slicemap_obj.path_to_config }}");

				InitGUI(rcl2.getConfig(), rcl2);
				};

		</script>

		<div id="container">
		    volume name: <span class="bold">{{ slicemap_obj.path_to_slices }}</span><br />
		    <img id="transferFunctionImage"/>

		</div>
	</body>
</html>